<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management System</title>
    <!-- Referencing CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Order Management System</h1>

    <!-- Search form -->
    <form method="GET" action="{{ url_for('home') }}">
        <input type="text" name="search" placeholder="Search by customer or product" value="{{ search }}">
        <button type="submit">Search</button>
    </form>

    <!-- Add order link -->
    <a href="{{ url_for('add_order') }}">Add New Order</a>
	<a href="{{ url_for('bulk_edit_order') }}">Bulk Edit Order</a>

    <!-- Order List -->
    <ul>
        {% for order in orders %}
            <li>
                {{ order.customer_name }} - {{ order.product_name }} ({{ order.quantity }}) - {{ order.status }}
                <a href="{{ url_for('update_order', order_id=order.id) }}">Edit</a>
                <a href="{{ url_for('delete_order', order_id=order.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Prompt message when there is no order -->
    {% if search and not orders %}
        <p>No orders found.</p>
    {% endif %}

    <!-- Reference JavaScript Files -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>